<!DOCTYPE html>
<html>
<head>
    <%= stylesheet_link_tag "shared", media: "all", "data-turbolinks-track" => "reload" %>
</head>
<body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Random Articles</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span></span>About</a></li>
          <li><a href="#"><span></span>Contact</a></li>
        </ul>
      </div>
    </nav>
</body>
</html>